#primary {
    padding-block: 20px;

    div { 
        display: flex;
        align-items: center;
        gap: 8px;
    }

    /* Nesting CSS */
    div:nth-child(2) {
        margin-inline: auto;
    }

    div:nth-child(3) {
        justify-self: end;
    }
}

#secondary {
    padding-block: 14px;
    border: solid 1px var(--stroke-color);
    border-inline: none; /*remove as bordas das laterais*/
    justify-content: space-between;
}

@media (width <= 23.438rem) {
    .container {
        padding-inline: 1rem;
    }

    #primary {
        padding-block: 1rem;
    }

    #secondary {
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
}