section header {
    padding-block: 12px 24px;
    border-top: 1px solid var(--stroke-color);
    font: var(--Span);

    a {
        justify-self: end;
        align-items: center;
        gap: 4px;

        span {
            background-image: url(../assets/ArrowRight.svg);
            width: 14px;
            height: 13px;
        }

        &:hover span {
            background-image: url(../assets/ArrowRight-hover.svg);
        }
    }
}

#featured {
    img {
        height: 100%;
        object-fit: cover;
    }
    
    .card {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg, transparent 0%, #020617 100%);
        }  
        
        figcaption {
            position: absolute;
            bottom: 0;
            padding: 24px;

            &:has(.text-lg) {
                padding: 12px;
            }

            h2 {
                margin-top: 8px;
            }
        }
    }
}

#weekly {
    img {
        height: 160px;
        object-fit: cover;
    }

    figure {
        position: relative;

        .content-tag {
            position: absolute;

            top: 8px;
            left: 8px;
        }

        p {
            margin-top: 8px;
        }
    }
}